/** {
	outline: 1px solid blue;
}*/

#headerDiv {
	background: url(../images/DurhamSunset2.jpg), #448aff;
	background-size: 100%;

}

#headerTitle {
	color: rgb(255,247,247);
	line-height: 100%;
	font-size: 50px;
	display:table;
	margin:0 auto;
	height:230px;
}

#enterTopic {
	font-size: 20px;
}

#jobsPic { 
	width: 100%;
	height: 359px;
}

#meetupPic { 
	width: 100%;
	height: 359px;
}

#eventsPic { 
	width: 100%;
	height: 359px;
}

.btn {
	background-color:#0d47a1;
	display:table;
	display:inline;
	margin: 10px;
}
.card {
	background-color:#0d47a1;
	font-size: 20px;
	color: #e3f2fd;
}
#topics-appear-here {
	background-color:#0d47a1;
	font-size: 20px;
	color: #e3f2fd;
}