/** {
	outline: 1px solid blue;
}*/
#headerDiv {
	background: url(../images/DurhamSunset2.jpg), #448aff;
	background-size: cover;
	background-repeat: no-repeat;
	height:230px;
	margin-top:10px;
}

#id {
	padding-bottom: -20px;
}

#accDiv {
	background: url(../images/Dapper11.png), #448aff;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	height:215px;
	padding-bottom: 0px;
	background-size: contain;
    background-position: center;
    background-color: white;
}
#accDiv2 {
	background: url(../images/Dapper.png), #448aff;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	height:315px;
	padding-bottom: 0px;
	background-size: contain;
    background-position: center;
    background-color: white;
}


#headerTitle {
	color: rgb(255,247,247);
	line-height: 110%;
	font-size: 3.5vw;
	display:table;
	margin:0 auto;
	padding:5px;
	font-family: 'Slabo 27px', serif;
	font-family: 'Merriweather', serif;
}

/*#nav-mobile {
	font-family: 'Oswald', sans-serif; // can't figure out how to make bigger size
	
}

.side-nav {
	font-family: 'Oswald', sans-serif; //can't figure out how to make bigger size

}*/

#enterTopic {
	font-size: 20px;
}

#jobsPic { 
	width: 100%;
	height: 192px;
}

#meetupPic { 
	width: 100%;
	height: 192px;
}

#eventsPic { 
	width: 100%;
	height: 192px;
}
li a.active {
	background-color: #90caf9;
	/*font-family: 'Oswald', sans-serif;
	can't figure out how to make bigger font*/ 
}

#buttons-view {
display: flex;
flex-wrap:wrap;
justify-content: center;

}
.btn {
	background-color:#1e88e5;
	margin: 5px;
	margin-left:13px;
	font-size:18px;
	width:calc(25% - 20px);
	letter-spacing:0px !important;
	min-width: 189px;
	font-family: 'Oswald', sans-serif;
}
.panel {
	background-color:#1e88e5;
	font-size: 25px;
	color: #e3f2fd;
	font-family: 'Oswald', sans-serif;
}


#meetupDisplay {
	height: 500px;
	overflow: auto;
}
#jobDisplay {
	height: 500px;
	overflow: auto;
}

#eventDisplay {
	height: 500px;
	overflow: auto;	
}

.wrap {
	word-wrap:break-word;
}

#topics-appear-here {
	background-color:#0d47a1;
	color: #e3f2fd;
}

#card {
    color: #8f99a1;
}

#aboutus {
	color: #64b5f6;
	background-color: white;
	margin-bottom: 5px;
}

.row {
	margin: 0 !important;
}

#main {
	padding-top: 30px;
}

#communityResources {
	color: #64b5f6;
	background-color: white;
	margin-bottom: 5px;
}


#moreInfo {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	font-family: 'Slabo 27px', serif;
	font-size:19px;
}

.textBold {
	font-weight: bolder;
	font-size: 16px;
}


