/** {
	outline: 1px solid blue;
}*/

#headerDiv {
	background: url(../images/DurhamSunset2.jpg), #448aff;
	background-size: cover;
	background-repeat: no-repeat;
	height:230px;
}

#headerTitle {
	color: rgb(255,247,247);
	line-height: 110%;
	font-size: 4vw;
	display:table;
	margin:0 auto;
}

#enterTopic {
	font-size: 20px;
}

#jobsPic { 
	width: 100%;
	height: 192px;
}

#meetupPic { 
	width: 100%;
	height: 192px;
}

#eventsPic { 
	width: 100%;
	height: 192px;
}
li a.active {
	background-color: #90caf9;
}
.btn {
	background-color:#0d47a1;
	margin: 5px;
	margin-left:13px;
	font-size:14px;
	width:calc(25% - 20px);
}
.panel {
	background-color:#0d47a1;
	font-size: 20px;
	color: #e3f2fd;
}

#topics-appear-here {
	background-color:#0d47a1;
	color: #e3f2fd;
}

#card {
    color: #8f99a1;
}

#aboutus {
	color: #64b5f6;
	background-color: white;
	margin-bottom: 5px;
}

#main {
	padding-top: 30px;
}

#communityResources {
	color: #64b5f6;
	background-color: white;
	margin-bottom: 5px;
}